@media only screen and (min-width:1080px) {

    body {
        background-color: rgb(193, 176, 215);
        width: 100%;
    }

    .nav-images {
        display: none;
    }

    .nav {
        display: inline-flex;
        width: 100%;
    }

    .nav-items {
        display: flex;
        position: relative;
        padding-top: 2rem;
    }

    .nav-name {
        width: 19%;
        margin-left: 2rem;
        margin-right: 5rem;
    }

    .nav-firstname {
        margin-top: -1rem;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(212, 93, 60);
        font-size: x-large;
        font-weight: bolder;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
    }

    .nav-linkitems {
        margin-right: 5em;
        color: rgb(54, 54, 176);
        cursor: pointer;
        font-weight: bolder;
    }

    .fresher {
        display: none;
    }

    .nav-fresher:hover+.fresher {
        display: block;
        margin-top: 60px;
        color: red;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 20px;
        position: absolute;
    }

    .nav-linkitems a {
        color: rgb(54, 54, 176);
        text-decoration: none;
        transition: 0.2s;
    }

    .nav-linkitems a:hover {
        text-decoration: underline;
        text-shadow: 2px 2px 20px rgb(238, 133, 133);
    }


    .nav-hire {
        margin-top: -5px;
        width: 19%;
        margin-right: 4rem;
        display: block;
    }

    .nav-button {
        background-color: red;
        color: white;
        font-weight: bolder;
        width: 5rem;
        border: 0px;
        border-radius: 7px;
        padding: 0.4rem;
        transition: duration 0.4s;

    }

    .nav-button:hover {
        padding: 15px;
        position: sticky;
        width: 7rem;
        margin-top: -7px;
        margin-left: -7px;
    }

    #home {
        display: inline-flex;
        margin-top: 50px;
        width: 100%;

    }

    .home-left {
        width: 30%;
        text-align: center;
        margin-top: 7rem;
        margin-left: 8rem;
        display: inline-block;
        position: relative;
    }

    .home-left span {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(127, 0, 255);
        font-size: larger;
        font-weight: bolder;
    }

    .home-left p {
        font-size: larger;
        font-weight: bolder;
    }

    .home-right {
        display: block;
        border-radius: 50px;
        height: 30rem;

    }

    .home-right img {
        height: 27rem;
        top: -3rem;
        margin-left: 13rem;
        position: relative;
        z-index: 999;
        border-radius: 100px;
        transition: 0.4s;
    }

    .home-right img:hover {
        filter: drop-shadow(16px 15px 20px rgb(255, 255, 255));
    }

    .photo-box {
        border: 5px solid rgb(255, 1, 31);
        width: 400px;
        height: 400px;
        top: 200px;
        margin-left: 12rem;
        position: absolute;
        transform: rotate(48deg);
    }

    #about {
        display: block;
        height: 700px;
    }


    .about-block {
        display: block;
        padding-top: 150px;
        padding-left: 10em;
        text-align: center;
        margin: 0px;
        color: rgb(43, 57, 78);
    }

    .about-text {
        text-align: left;
    }


    #about span {
        color: rgb(127, 0, 255);
    }

    .contact {
        display: inline-flex;
    }

    .contact-left {
        display: grid;
        align-items: center;
        padding-top: 7rem;
        margin: auto;
        width: 40%;
        overflow: visible;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 5rem;
    }

    .contact-left a::before {
        text-decoration: none;
        transition: 1s;
        color: rgb(2, 2, 238);
    }


    .contact-left a::after {
        text-decoration: none;
        transition: 1s;
        color: rgb(2, 2, 238);
    }


    .contact-left a {
        text-decoration: none;
        transition: 1s;
        color: rgb(2, 2, 238);
    }

    .contact-left a:hover {
        text-decoration: underline;
        text-shadow: 2px 2px 20px rgb(238, 133, 133);
    }


    .contact-left img {
        height: 1.4rem;
    }

    .contact-right {
        color: rgb(127, 0, 255);
        position: sticky;
        height: 3rem;
        padding-top: 4rem;
        text-align: center;
    }

    .mobile-items {
        display: none;
    }

    .after-image {
        display: none;
    }

}







@media only screen and (min-width:391px) and (max-width:1079px) {
    body {
        background-color: rgb(193, 176, 215);
    }

    .nav {
        display: inline-flex;
    }


    .nav-images {
        display: none;
    }

    .nav-items {
        display: flex;
        position: relative;
        padding-top: 2rem;
    }

    .nav-name {
        margin-left: 2em;
        margin-right: 3em;
    }

    .nav-firstname {
        margin-top: -1rem;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(212, 93, 60);
        font-size: x-large;
        font-weight: bolder;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4);
    }

    .nav-linkitems {
        margin-right: 3em;
        color: rgb(54, 54, 176);
        cursor: pointer;
        font-weight: bold;
    }

    .fresher {
        display: none;
    }

    .nav-fresher:hover+.fresher {
        display: block;
        margin-top: 100px;
        color: red;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 20px;
        position: absolute;
    }

    .nav-linkitems a {
        color: rgb(54, 54, 176);
        text-decoration: none;
        transition: 0.2s;
    }

    .nav-linkitems a:hover {
        text-decoration: underline;
        text-shadow: 2px 2px 20px rgb(238, 133, 133);
    }


    .nav-hire {
        margin-top: -5px;
        margin-right: 4em;
        display: block;
    }

    .nav-button {
        background-color: red;
        color: white;
        font-weight: bolder;
        width: 5rem;
        border: 0px;
        border-radius: 7px;
        padding: 0.4em;
        transition: duration 0.4s;

    }

    .nav-button:hover {
        padding: 15px;
        position: sticky;
        width: 7rem;
        margin-top: -7px;
        margin-left: -7px;
    }

    #home {
        display: inline-flex;
        margin-top: 50px;
        width: 100%;
    }

    .home-left {
        text-align: center;
        margin-top: 7rem;
        margin-left: 3em;
        display: inline-block;
        position: relative;
    }

    .home-left span {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(127, 0, 255);
        font-size: large;
        font-weight: bold;
    }

    .home-left p {
        font-size: large;
        font-weight: bold;
    }

    .home-right {
        display: block;
        border-radius: 50px;
        height: 30rem;

    }

    .home-right img {
        height: 21rem;
        top: 1rem;
        margin-left: 8rem;
        position: relative;
        z-index: 999;
        border-radius: 100px;
        transition: 0.4s;
    }

    .home-right img:hover {
        filter: drop-shadow(16px 15px 20px rgb(233, 233, 233));
    }

    .photo-box {
        border: 5px solid rgb(255, 1, 31);
        width: 300px;
        height: 300px;
        top: 12em;
        margin-left: 7rem;
        position: absolute;
        transform: rotate(48deg);
    }

    #about {
        display: block;
        height: 700px;
        text-align: center;
    }


    .about-block {
        display: block;
        padding-top: 150px;
        text-align: center;
        margin: auto;
        color: rgb(43, 57, 78);
        overflow: hidden;
    }

    .about-text {
        text-align: left;
        padding-left: 8em;
    }


    #about span {
        color: rgb(127, 0, 255);
    }

    .contact {
        display: inline-flex;
    }

    .contact-left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding-top: 7rem;
        margin: auto;
        overflow: visible;
        padding-left: 4em;
        margin-bottom: 3em;
    }


    .contact-left a::before {
        text-decoration: none;
        transition: 1s;
        color: rgb(2, 2, 238);
    }


    .contact-left a::after {
        text-decoration: none;
        transition: 1s;
        color: rgb(2, 2, 238);
    }

    .contact-left a {
        text-decoration: none;
        transition: 1s;
    }

    .contact-left a:hover {
        text-decoration: underline;
        text-shadow: 2px 2px 20px rgb(238, 133, 133);
    }


    .contact-left img {
        height: 1.4em;
    }

    .contact-right {
        padding-left: 4em;
        color: rgb(127, 0, 255);
        position: sticky;
        height: 3em;
        font-size: large;
        padding-top: 4em;
    }

    .mobile-items {
        display: none;
    }

    .after-image {
        display: none;
    }

}


@media screen and (max-width:391px) {

    body {
        background-color: rgb(193, 176, 215);
        width: 391px;
    }

    .nav {
        display: inline-flex;
        width: 95%;
    }

    .mobile-items {
        padding: 0px 1em;
    }


    .hide a {
        display: none;
    }

    .nav-firstname {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .nav-lastname {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(212, 93, 60);
        font-weight: bold;
        margin: auto;
        text-align: center;
    }

    .nav-images {
        margin: auto;
        text-align: center;
    }

    .nav-images img {
        height: 1em;
    }

    .nav-button-2 {
        font-size: xx-small;
        background-color: red;
        border: 0px;
        border-radius: .2rem;
        margin: auto;
        color: white;
        text-align: center;
        padding-top: -1em;
    }

    .home-left {
        display: none;
    }

    .home-right img {
        height: 17em;
        margin: auto;
        text-align: center;
        padding-left: 2.5em;
        position: relative;
        z-index: 999;
    }

    .photo-box {
        border: 5px solid rgb(255, 1, 31);
        position: absolute;
        transform: rotate(48deg);
        top: 5rem;
        left: 3rem;
        height: 12em;
        width: 12em;
    }

    .after-image {
        font-size: .4rem;
        margin: auto;
        padding-top: 2rem;
        text-align: center;
    }


    #home span {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(127, 0, 255);
        font-size: small;
        font-weight: bold;
    }

    #about {
        display: block;
        margin: auto;
        font-size: 0.4rem;
        text-align: center;
        border-width: 2rem;
        padding: 3rem 0.6rem;
        padding-left: 2rem;
    }


    .about-block {
        text-align: left;
    }

    .about-text span {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(127, 0, 255);
        font-size: small;
        font-weight: bold;
    }

    #contact {
        padding: 3rem 0rem;
        font-size: 0.4rem;
    }

    .contact-right {
        margin: auto;
        text-align: center;
    }

    .contact-left img {
        height: 1em;
    }

    .contact-left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 2rem;
    }
}
